.header-links-section {
  .main-header-links {
    display: flex;

    p {
      color: #fff;
      margin: 0 20px;
      position: relative;

      &:after {
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        background-color: #fff;
        height: 3px;
        display: none;
        transition: .5s;
        content: "";
      }

      &:hover {
        transition: .5s;

        &:after {
          display: block;
          animation-name: underline-navbar-animation;
          animation-duration: .5s;
          animation-fill-mode: both;
        }
      }
    }

    .active {
      &:after {
        display: block;
        animation-name: underline-navbar-animation;
        animation-duration: .5s;
        animation-fill-mode: both;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .header-links-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 25px;
    background-color: #fff;
    z-index: 99999;

    .main-header-links {
      display: none;
    }

    .menu-mobile-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 99;
      padding: 30px 0;
      .logo-icon {
        fill: #B0B0B0;
        height: 35px;
        width: 100px;
      }
      .cancel-icon {
        fill: #B0B0B0;
        height: 20px;
        width: 20px;
      }
    }

    .main-header-links-mob {
      display: flex;
      flex-direction: column;

      p {
        color: #000;
        text-align: center;
        font-size: 25px;
        font-weight: bold;

        &:hover {
          color: #7ed321;
        }
      }

    }

  }

}